.authentication-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin: 30px auto;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: unset;
    -webkit-box-align: center;
    align-items: center;

    > :first-child {
      margin-bottom: 50px;
    }
  }
}
